.Menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.Menu--Open {
  background-image: url(../image/Chat_MenuClose.svg);
  background-repeat: no-repeat;
}

.Menu--Closed {
  background-image: url(../image/Chat_Menu.svg);
  background-repeat: no-repeat;
}

@media (min-width: 520px) {
  .Menu {
    display: none;
  }
}
