.Menu {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: green;
}

.Menu--Open {
  background-color: blue;
}

@media (min-width: 650px) {
  .Menu {
    display: flex;
  }
}
