.Menu {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 35px;
  left: 20px;
  background-image: url(/assets/svg/back_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.Menu--Open {
  display: none;
}

@media (min-width: 900px) {
  .Menu {
    display: none;
  }
}
