
.icon-ok-circle:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-folder-open:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-th-large:before { content: '\e805'; } /* '' */
.icon-vcard:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */