.DateItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.DateItem__Time {
    background-color: var(--white);
    color: var(--purple-dark);
    width: 20%;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

@media (max-width: 850px) {
    .DateItem__Time {
        width: 30%;
    }
}
