.DateItem {
    width: 90%;
    margin-left: 5%;
}

.DateItem__Time {
    padding: 0.6rem;
    border-top: 1px solid #A7A7A7;
    font-size: 0.9rem;
    color: #A7A7A7;
    background-color: #ffffff;
}