.PostItem {
    text-align: right;
}

.PostItem__Post {
    color: #000000;
    font-family: "SF Pro Display", Helvetica;
    margin-top: 2rem;
    padding: 0.8rem;
    border-radius: 1rem 1rem 1rem 0;
}

.PostItem__Post--me {
    display: inline-block;
    text-align: left;
    margin-left: 4.5rem;
    margin-right: 4%;
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 0 1rem;
    width: fit-content;
    color: #ffffff;
    background-color: #226CE0;
}


.PostItem__Post--other {
    margin-left: 4%;
    margin-right: 4.5rem;
    margin-bottom: 2rem;
    background-color: #D8D8D8;
    color: #000000;
    text-align: left;
    width: fit-content;
}

.PostItem__Time {
    display: inline-block;
    padding: 0.2rem;
    font-size: 0.6rem;
}

.ConversationItem--me .ConversationItem__Preview > p::before {
    content: "You: ";
    color: #226CE0;
}

.DateItem{
    text-align: center;
    margin-top: 3rem;
}
