.PostItem {
    text-align: right;
}

.PostItem__Post {
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
}

.PostItem__Post--me {
    display: inline-block;
    text-align: left;
    margin-right: 1.5em;
    margin-left: 40%;
    background-color: var(--purple-normal);
}

.PostItem__Post--other {
    text-align: left;
    margin-left: 1.5em;
    width: fit-content;
    background-color: var(--blue-light);
}

.PostItem__Text {
    max-width: 95%;
}

.PostItem__Time {
    font-size: var(--font-xs);
    text-align: right;
}
