@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html,
body,
#root {
  height: 100%;
  color: var(--white);
}

body {
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border-width: 4px;
  border-color: var(--dark);
  border-left: 1;
  border-right: none;
  border-top: none;
  border-bottom: none;

  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
